---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { createStaticPathsHandler } from "@lib/i18n";
import About from "@sections/about/About.astro";
import Hero from "@sections/Hero.astro";
import Technologies from "@sections/technologies/Technologies.astro";
import Works from "@sections/work/Works.astro";
import type { GetStaticPaths } from "astro";
import { Icon } from "astro-icon/components";
import Footer from "@/sections/Footer.astro";

export const getStaticPaths =
  createStaticPathsHandler() satisfies GetStaticPaths;

const { translations } = Astro.locals;
const t = translations.meta;
---

<BaseLayout title={t.title} description={t.description}>
  <main class="min-h-main mt-header mx-auto max-w-screen-xl ~px-4/8 pt-16 pb-6">
    <Hero />
    <Technologies />
    <Works />
    <About />
    <Footer />
  </main>
  <div class="pointer-events-none fixed top-0 z-50 h-dvh w-dvw">
    <button
      class="pointer-events-auto bg-background flex items-center justify-center absolute -bottom-32 right-0 md:right-12 m-6 aspect-square size-12 min-h-12 min-w-12 rounded-full lg:m-12 xl:size-16 xl:min-h-16 xl:min-w-16 xl:p-2 border"
      data-scroll-to-top
    >
      <Icon
        class="aspect-square size-6 min-h-6 min-w-6 xl:size-8"
        name="lucide:arrow-up"
      />
      <span class="sr-only">Scroll to top</span>
    </button>
  </div>
</BaseLayout>

<style>
  [data-scroll-to-top] {
    animation: reveal-up 0.6s forwards;
    animation-timeline: scroll();
    animation-range: 100px 40vh;
  }

  @keyframes reveal-up {
    to {
      bottom: 0;
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const scrollToTop = () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    };
    const scrollToTopButton = document.querySelector("[data-scroll-to-top]");
    scrollToTopButton?.addEventListener("click", scrollToTop);
  });
</script>
