@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /** If dvh is supported, it will take priority, otherwise will fallback to vh. */
  --screen-safe-height: 100vh;
  --screen-safe-height: 100dvh;
  --screen-safe-width: 100vw;
  --screen-safe-width: 100dvw;

  --header-height: 64px;
  --content-height: calc(var(--screen-safe-height) - var(--header-height));
  interpolate-size: allow-keywords;
}

main {
  counter-reset: section;
  @apply transition-colors duration-200;
}

html {
  width: var(--screen-safe-width);
  height: auto;
}

strong {
  @apply text-primary;
}

h2::before {
  @apply tabular-nums;

  counter-increment: section;
  content: "0" counter(section) ". ";
  opacity: 0.9;

  margin-top: 0.1em;
  margin-right: 0.5em;

  font-size: 0.8em;
  font-family: theme("fontFamily.neutralFace");
}
