---
import Timeline from "../../components/timeline/Timeline.astro";
import { type WorkProps } from "./Work.astro";

const works: WorkProps[] = [
  {
    title: "Fullstack consultant",
    company: "Relex",
    location: "Helskinki, Finland",
    startDate: "2024-01-01",
    skills: [
      "Communication",
      "TailwindCSS",
      "CSS",
      "azure",
      "NodeJS",
      "jest",
      "gitlab",
    ],
    description:
      "I'm a web developer with a passion for building user-friendly and accessible websites. I have experience in various web technologies, including HTML, CSS, JavaScript, and React.",
  },
  {
    title: "Fullstack consultant",
    company: "Blueprint Genetics",
    location: "Helskinki, Finland",
    startDate: "2023-06-01",
    endDate: "2024-01-01",
    skills: [
      "React",
      "TypeScript",
      "NodeJS",
      "postgressql",
      "AWS",
      "PHP",
      "TailwindCSS",
      "jest",
    ],
    description:
      "I'm a web developer with a passion for building user-friendly and accessible websites. I have experience in various web technologies, including HTML, CSS, JavaScript, and React.",
  },
  {
    title: "Fullstack consultant",
    company: "Barona",
    location: "Helskinki, Finland",
    startDate: "2023-06-01",
    endDate: "2024-01-01",
    skills: [
      "React",
      "TypeScript",
      "NodeJS",
      "Analytical Thinking",
      "Communication",
      "AWS",
      "gitlab",
    ],
    description:
      "I'm a web developer with a passion for building user-friendly and accessible websites. I have experience in various web technologies, including HTML, CSS, JavaScript, and React.",
  },
  {
    title: "Frontend developer",
    company: "Sesame",
    location: "Valencia, Spain",
    startDate: "2021-01-01",
    endDate: "2022-08-01",
    skills: ["React", "TypeScript"],
    description:
      "I'm a web developer with a passion for building user-friendly and accessible websites. I have experience in various web technologies, including HTML, CSS, JavaScript, and React.",
  },
  {
    title: "Fullstack developer",
    company: "Sngular",
    location: "Valencia, Spain",
    startDate: "2020-01-01",
    endDate: "2021-01-01",
    skills: [],
    description:
      "I'm a web developer with a passion for building user-friendly and accessible websites. I have experience in various web technologies, including HTML, CSS, JavaScript, and React.",
  },
  {
    title: "Backend developer",
    company: "PFS",
    location: "Valencia, Spain",
    startDate: "2017-01-01",
    endDate: "2020-01-01",
    skills: ["React", "TypeScript"],
    description:
      "I'm a web developer with a passion for building user-friendly and accessible websites. I have experience in various web technologies, including HTML, CSS, JavaScript, and React.",
  },
];
---

<section>
  <h2
    class="my-12 ml-2 inline-flex w-full items-center text-pretty font-header text-3xl font-semibold opacity-85 sm:ml-0"
  >
    <span>Where I've worked</span>
    <span class="ml-[0.6em] mt-1 h-0.5 grow translate-y-full bg-muted"></span>
  </h2>
  <Timeline {works} />
</section>
