---
import { cn } from "@lib/utils";
import { Picture } from "astro:assets";
import { cva } from "class-variance-authority";
import houseImg from "../../assets/about/house.png";
import AtWork from "./AtWork.astro";
import Education from "./Education.astro";
import Personal from "./Personal.astro";
import Timezone from "./Timezone.astro";

const { translations } = Astro.locals;
const t = translations.sections.about;

const gridSection = cva(
  "px-6 pt-6 border prose dark:prose-invert lg:prose-xl rounded-lg",
  {
    variants: {
      variant: {
        grid1: "col-span-full md:col-span-5 lg:col-span-6",
        grid2: "col-span-full md:col-span-5 lg:col-span-4",
        grid3: "col-span-full md:col-span-5 lg:col-span-4",
        grid4: "col-span-full md:col-span-5 lg:col-span-6",
      },
    },
  }
);
---

<section id="about">
  <h2 class="section_title">
    <span>{t.title}</span>
    <span class="ml-[0.6em] mt-1 h-0.5 grow translate-y-full bg-muted"></span>
  </h2>

  <div class="grid grid-cols-10 justify-center gap-6">
    <AtWork class={gridSection({ variant: "grid1" })} />

    <Personal class={gridSection({ variant: "grid2" })} />

    <div class={cn(gridSection({ variant: "grid3" }))}>
      <h3 class="flex items-center not-prose font-bold text-2xl space-x-2 mb-4">
        <Picture
          src={houseImg}
          alt={t.sections.location.houseImage}
          formats={["avif", "webp", "png"]}
          class="size-[1.4em]"
        />
        <span>{t.sections.location.title}</span>
      </h3>
      <div
        class="items-center flex flex-col divide-y *:py-4 first:*:pt-0 last:*:pb-0"
      >
        <Timezone />
      </div>
    </div>
    <Education class={gridSection({ variant: "grid4" })} />
  </div>
</section>
