---
import { cn } from "@lib/utils";
import ThemeIcon from "../ThemeIcon.astro";
import PageLinks from "./PageLinks.astro";
import SelectI18N from "./SelectI18n.astro";

const sections = [
  { name: "Stack", href: "#stack" },
  { name: "Work", href: "#work" },
  { name: "About", href: "#about" },
];
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<header class={cn("h-header", className)}>
  <div
    class="flex justify-between ~max-w-4xl/7xl items-center mx-auto h-full ~px-4/8"
  >
    <PageLinks pages={sections} />
    <div class="flex items-center ~gap-x-4/12 px-6">
      <SelectI18N />
      <ThemeIcon />
    </div>
  </div>
</header>

<style>
  header {
    animation: apply-bg linear both;
    animation-timeline: scroll();
    animation-range: 0px 128px;
  }

  @keyframes apply-bg {
    to {
      background-color: theme("colors.background");
    }
  }
</style>
