---
import { cn } from "@lib/utils";

type Page = { name: string; href: string };
interface Props {
  pages: Page[];
  class?: string;
}
const { pages, class: className } = Astro.props;
---

  <nav class={cn("grid grid-cols-3 items-center ", className)}>
    <ul class="flex space-x-4">
      {
      pages.map(({ name, href }) => {
        return (
          <li class="">
            <a href="#section">{name}</a>
          </li>
        );
      })
    }
    </ul>
  </nav>
