---
import { cn } from "@lib/utils";
import type { HTMLAttributes } from "astro/types";
import { cva } from "class-variance-authority";

type Props = HTMLAttributes<"a"> & {
  class?: string;
};

const buttonVariants = cva("group relative transition-all duration-500", {
  variants: {
    variant: {
      default:
        "rounded-full overflow-hidden flex items-center justify-center p-2",
    },
  },
  defaultVariants: {
    variant: "default",
  },
});

const { href, class: className, ...props } = Astro.props;
---

<a
  {href}
  class={cn(buttonVariants({ variant: "default" }), className)}
  {...props}
>
  <slot />
</a>
