---
const pages = [
  { name: "Experience", href: "/" },
  { name: "Projects", href: "/combates" },
  { name: "About", href: "/pronosticos" },
  { name: "Contact", href: "/pronosticos" }
];
---

<header>
  <nav>
    <a>About</a>
    <a>About</a>
    <a>About</a>
    <a>About</a>
    <a>About</a>
  </nav>
</header>
