---
import avatar from "@assets/hero/avatar.webp";
import { Picture } from "astro:assets";
---

<section class="mt-9 sm:px-8">
  <Picture
    class="bg-balg relative right-0.5 top-0.5 mb-9 aspect-square size-16"
    src={avatar}
    alt="Avatar"
    loading="eager"
    formats={["avif", "webp", "png"]}
  />

  <div class="max-w-xl">
    <div class="font-neutralFace text-4xl">
      <h1>I'm Sergio</h1>
      <h1>Full Stack Developer</h1>
    </div>

    <p class="my-6">
      I'm Skilled in front-end development with 7+ Years of Expertise and client
      collaboration based in Spain, delivering high-quality solutions.
    </p>
  </div>
</section>
