<div class="flex gap-x-3 pb-6">
  <!-- Bullet -->
  <div
    class="relative last:after:hidden after:absolute after:top-5 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700"
  >
    <div class="relative z-10 size-7 flex justify-center items-center">
      <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600" />
    </div>
  </div>
  <!-- Right Content -->
  <slot />
</div>
