<section>
    <h2
    class="my-12 ml-2 inline-flex w-full items-center text-pretty font-header text-3xl font-semibold opacity-85 sm:ml-0"
  >
    <span>Tech stack</span>
    <span class="ml-[0.6em] mt-1 h-0.5 grow translate-y-full bg-muted" />
  </h2>
    React, TypeScript, Elixir, Azure, Cypress, Jest, AWS, Node.js, Next.js, PHP, Vue.js, Symfony, Java, Python
</section>
