---
import "@styles/global.css";
import "@styles/theme.css";
import { ENVIRONMENT } from "astro:env/client";
import { ClientRouter } from "astro:transitions";
import { clsx } from "clsx";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="overflow-x-hidden font-geist">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body
    class={clsx("overflow-x-hidden", {
      "debug-screens": ENVIRONMENT === "dev"
    })}
  >
    <div
      class="inset-0 -z-10 bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:34px_24px]"
    >
      <main
        class="mx-auto min-h-screen max-w-7xl rounded-lg border px-4 font-geist shadow-lg sm:px-8 lg:px-12"
        id="main-content"
      >
        <Header />
        <slot />
      </main>
    </div>
  </body>
</html>
